---
---

<div class="container">
    <div class="flexbox">
        <div class="photo"></div>
        <div class="quote">
            At Nautica we've taken a vow to provide the highest level of quality and service possible for&nbsp;our&nbsp;clients.<br> -Jake, Owner
        </div>
    </div>
</div>
<style>
    .container{
        padding: 95px 25px 35px 25px;
        box-shadow: 0px 0px 5px black;
        background-color: #189eff65;
    }
    .flexbox{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .photo{
        height: 125px;
        width: 125px;
        border-radius: 100px;
        background-color: black;
        box-shadow: 0px 0px 5px black;
        margin: 35px 75px;
    }
    .quote{
        background-color: white;
        font-size: 18pt;
        text-align: center;
        max-width: 75vw;
        box-shadow: 0px 0px 5px black;
        padding: 20px;
        margin: 20px 0px;
        border-radius: 2px;
    }
</style>