

<div class="container">
    <div class="questions">
        Any Questions? Feel free to reach out so we&nbsp;can&nbsp;answer&nbsp;them.
    </div>
    <div class="flex-container">
        <div class="logo-flex">
            <div class="logo"></div>
            <div class="logo-text">North Nautica<br/>Detailing</div>
        </div>
        <div class="contact">
            <div>Email: northnautica@gmail.com</div>
            <div>Phone: (832) 862-6255</div>
            <div>Instagram: @north_nautica</div>
            <!-- <div>Other: @anotherhandle</div> -->
        </div>
    </div>
</div>
<style>
    .container{
        background: #114ea9;
        padding: 10px 5px 25px 5px;
    }
    .container *{
        color: white;
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }
    .container > div{
        padding: 10px;
        margin: auto 0;
        border-radius: 5px;
    }

    .logo-flex{
        display: flex;
    }

    .logo{
        width: 75px;
        background: url("/nautica-square.png");
        background-size: contain;
        background-position: center;
        background-color: transparent !important;
        background-repeat: no-repeat;
    }

    .logo-text{
        margin: auto;
        padding: 0px 20px;
        text-align: center;
        font-weight: 700;
        font-size: 16pt;
        color:white;
    }
    .questions{
        text-align: center;
        padding: 0px 10%;
        color: white;
    }
</style>