---

---


<div class="container">
    <h1 class="big-title">Pricing Chart</h1>
    <div class="seperator"></div>
    <div class="flex-container-wrapper">
        <div class="flex-container">
            <div class="price-point">
                <div class="body-wrapper">
                    <div class="p-body gold">
                        <div class="title-wrapper">
                            Gold Package
                        </div>
                        <div class="info-wrapper">
                            <div class="dot tl below"></div>
                            <div class="dot tr below"></div>
                            <div class="dot bl below"></div>
                            <div class="dot br below"></div>
                            <div class="p-info">
                                Includes:<br>
                                -Wash n Wax<br>
                                -Window Cleaning<br>
                                -Wheel & Tire Wash<br>
                                -Bug & Spot Removal<br>
                                -Leather/Upholstery<br>
                                -Quick Interior Clean<br>
                                (2 week protection)
                            </div>
                            <div class="p-price">
                                Coupe: $149<br>
                                Sedan/SUV: $189<br>
                                Truck/XL SUV: $229
                            </div>
                            <div class="dot tl above"></div>
                            <div class="dot tr above"></div>
                            <div class="dot bl above"></div>
                            <div class="dot br above"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-point">
                <div class="body-wrapper">
                    <div class="p-body platinum">
                        <div class="title-wrapper">
                            Platinum Package
                        </div>
                        <div class="info-wrapper">
                            <div class="dot tl below"></div>
                            <div class="dot tr below"></div>
                            <div class="dot bl below"></div>
                            <div class="dot br below"></div>
                            <div class="p-info">
                                Includes:<br>
                                - Wash n Wax<br>
                                - Window Cleaning<br>
                                - Wheel & Tire Wash<br>
                                - Bug & Spot Removal<br>
                                - Leather & Upholstery<br>
                                - Quick Interior Clean<br>
                                + Clay Bar Decon.<br>
                                + Interior Shampoo<br>
                                + SiO2 Ceramic Detailer<br>
                                + Leather/Upholstery Conditioner<br>
                                (2 month protection)
                            </div>
                            <div class="p-price">
                                Coupe: $189<br>
                                Sedan/SUV: $229<br>
                                Truck/XL SUV: $269
                            </div>  
                            <div class="dot tl above"></div>
                            <div class="dot tr above"></div>
                            <div class="dot bl above"></div>
                            <div class="dot br above"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-point">
                <div class="body-wrapper">
                    <div class="p-body diamond">
                        <div class="title-wrapper">
                            Diamond Package
                        </div>
                        <div class="info-wrapper">
                            <div class="dot tl below"></div>
                            <div class="dot tr below"></div>
                            <div class="dot bl below"></div>
                            <div class="dot br below"></div>
                            <div class="p-info">
                                Includes:<br>
                                - Wash n Wax<br>
                                - Window Cleaning<br>
                                - Wheel & Tire Wash<br>
                                - Bug & Spot Removal<br>
                                - Leather/Upholstery<br>
                                - Quick Interior Cleaning<br>
                                - Clay Bar Decon.<br>
                                - Interior Shampoo<br>
                                - SiO2 Ceramic Detailer<br>
                                - Leather & Upholstery Conditioning<br>
                                + Metal/Chrome Polish<br>
                                + Interior Steam Cleaning<br>
                                + Trim Restoration & Condition<br>
                                + Sealant Wax & SiO2 Ceramic<br>
                                (5 month protection)
                            </div>
                            <div class="p-price">
                                Coupe: $239<br>
                                Sedan/SUV: $279<br>
                                Truck/XL SUV: $319
                            </div>
                            <div class="dot tl above"></div>
                            <div class="dot tr above"></div>
                            <div class="dot bl above"></div>
                            <div class="dot br above"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="announcement">
        Interested? Give us a call at (832)&nbsp;862&#8209;6255
    </div>
    <div class="seperator"></div>
    <h1 class="big-title title2">Additional Services</h1>
    <div class="additional-flex">
        <div class="add-service">Coupe Exterior Only:&nbsp;$89</div>
        <div class="add-service">Coupe Interior Only:&nbsp;$79</div>
        <div class="add-service">Sedan/SUV Exterior Only:&nbsp;$99</div>
        <div class="add-service">Sedan/SUV Interior Only:&nbsp;$89</div>
        <div class="add-service">Truck/XL SUV Exterior Only:&nbsp;$109</div>
        <div class="add-service">Truck/XL SUV Interior Only:&nbsp;$109</div>
        <div class="add-service">Engine Bay Cleaning: $85</div>
        <div class="add-service">Undercarrige Cleaning: $100</div>
        <div class="add-service">Ozone Odor Removal: $70</div>
        <div class="add-service">Major Pet Hair Removal: $55</div>
    </div>
    <div class="add-service2">
        <div class="title">Headlight Restoration:</div>
        <div class="empty"></div>
        <div class="desc">Wet sanding and buffing to remove oxidation. 75% avg. improvement in clarity.</div>
        <div class="price">$70</div>
    </div>
    <div class="seperator2"></div>
    <div class="add-service2">
        <div class="title">Hard Water Removal</div>
        <div class="empty"></div>
        <div class="desc">Does not remove etching caused by mineral deposits (see Buff & Polish service)</div>
        <div class="price">$40</div>
    </div>
    <div class="seperator2"></div>
    <div class="add-service2">
        <div class="title">Bed Liner Restoration</div>
        <div class="empty"></div>
        <div class="desc">Decontamination and SiO2 Ceramic Coating</div>
        <div class="price">$50</div>
    </div>
    <div class="seperator2"></div>
    <div class="add-service2">
        <div class="title">Gloss Enhancement:</div>
        <div class="empty"></div>
        <div class="desc">60% paint clarity improvement for a nice shine using one-step polish.</div>
        <div class="price">
            Coupe: $150<br>
            Sedan/SUV: $185<br>
            Truck/XL SUV: $255
        </div>
    </div>
    <div class="seperator2"></div>
    <div class="add-service2">
        <div class="title">Buff & Polish Paint Correction</div>
        <div class="empty"></div>
        <div class="desc">Multi-Stage Process with a range of various compounds, from heavy cutting to fine polishing the finish.</div>
        <div class="price">
            Coupe:$250<br>
            Sedan/SUV: $305<br>
            Truck/XL SUV $365
        </div>
    </div>
    <div class="seperator2"></div>
    <div class="add-service2">
        <div class="title">Express Ceramic Coating</div>
        <div class="empty"></div>
        <div class="desc">Single Pass of Ceramic Coating. Paired with Platinum Package, recommended to pair with Gloss Enhancement</div>
        <div class="price">
            Coupe:$250<br>
            Sedan/SUV: $305<br>
            Truck/XL SUV $365
        </div>
    </div>
    <div class="seperator2"></div>
    <div class="add-service2">
        <div class="title">Ceramic Coating</div>
        <div class="empty"></div>
        <div class="desc">Paired with Diamond Package, recommended to pair with Buff & Polish Paint Correction. Multi-Pass application of SiO2 Ceramic Coating. (Protection up to 3 years)
        </div>
        <div class="price">
            Coupe:$475<br>
            Sedan/SUV: $525<br>
            Truck/XL SUV $575
        </div>
    </div>
    <div class="seperator2"></div>
    <div class="add-service2">
        <div class="title">Professional Grade Ceramic Coating</div>
        <div class="empty"></div>
        <div class="desc">Same Process as Ceramic Coating. CarFax Issued Limited Lifetime Warranty. (Protection up to 10 years)</div>
        <div class="price">
            Coupe:$875<br>
            Sedan/SUV: $1,100<br>
            Truck/XL SUV $1,350
        </div>
    </div>
    <div class="seperator2"></div>
    <div class="add-service2">
        <div class="title">WindShield Ceramic Coating</div>
        <div class="empty"></div>
        <div class="desc">More durable and effective than RainX. (Protection up to 12 Months)</div>
        <div class="price">
            $100<br>
            +$30 per add. window
        </div>
    </div>
    <div class="seperator2"></div>
    <div class="add-service2">
        <div class="title">Wheel & Suspension Ceramic Coating</div>
        <div class="empty"></div>
        <div class="desc">Wheels removed from vehicle to apply for even coverage.</div>
        <div class="price">
            $200<br>
            +$50 for lifted suspension
        </div>
    </div>
</div>
<style>
    .container{
        width: 90%;
        max-width: 90vw;
        text-align: center;
        background-color: white;
        box-shadow: 0px 0px 5px gray;
        margin: -75px auto -75px auto;
        border-radius: 2px;
        padding: 25px;
        position: relative;
    }
    .big-title{
        margin: 0;
        /* color: white; */
    }
    .title2{
        padding-top: 15px;
        padding-bottom: 25px;
    }
    .seperator{
        border-top: 2px solid black;
        border-radius: 3px;
        width: 75%;
        margin-inline: auto;
        margin: 13px auto 11px auto;
    }
    .seperator2{
        border-top: 2px solid black;
        border-radius: 3px;
        width: 50%;
        margin-inline: auto;
        margin: 13px auto 13px auto;
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:30px;
        padding: 25px;
    }
    .price-point{
        flex-basis: 400px;
        border-radius: 33px;
        transform-style: preserve-3d;
        perspective: 10cm;
        flex-grow: 0;
    }
    .price-point *{
        user-select: none;
    }
    .body-wrapper{
        /* height: 100%; */
        animation-name: card-animation-out;
        animation-duration: 0.6s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: linear;
        animation-fill-mode: both;
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    .body-wrapper:hover{
        animation-name: card-animation-in;
        animation-duration: 0.6s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-in;
        animation-fill-mode: both;
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    .title-wrapper{
        font-size: 20pt;
        font-weight: 700;
        padding-bottom: 3px;
        color: white;
    }
    .p-body{
        /* height: 100%;
        display: grid;
        grid-template-rows: 30px auto; */
        padding: 8px;
        border-radius: 28px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
    }
    .info-wrapper{
        position: relative;
        bottom: 0;
        margin: 5px;
        padding: 5px;
        border-radius: 25px;
        background-color: #0d326b85;
        transform: translate(-1px, 1px) translateZ(10px);
        box-shadow: 1px 2px 3px #000000bb;
    }
    .p-price{
        text-align: center;
        font-weight: 700;
        padding: 15px 0 0 0;
        font-size: 16pt;
        color: white;
        padding: 10px 0px;
    }
    .gold{
        background-image: url('/gold-texture.webp');
        box-shadow: 0px 0px 20px gold;
        transition: 0.6s ease-in-out;
    }
    .gold:hover{
        box-shadow: 0px 0px 100px gold;
    }
    .platinum{
        background-image: url('/platinum-texture.webp');
        box-shadow: 0px 0px 20px grey;
        transition: 0.6s ease-in-out;
    }
    .platinum:hover{
        box-shadow: 0px 0px 100px grey;
    }
    .diamond{
        background-image: url('/diamond-texture.webp');
        box-shadow: 0px 0px 20px darkturquoise;
        transition: 0.6s ease-in-out;
    }
    .diamond:hover{
        box-shadow: 0px 0px 200px darkturquoise;
    }
    .p-info{
        margin: 10px 35px;
        text-align: left;
        font-size: 16pt;
        color: white;
        border-radius: 20px;
    }
    .dot{
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: rgb(176, 176, 176);
    }
    .dot.above{
        box-shadow: 0px 0px 2px black;
        border: 1px solid rgb(147, 147, 147);
    }
    .dot.below{
        transform: translate(1px, 1px);
        box-shadow: 1px 1px 5px black;
        border: 1px solid rgb(65, 65, 65);
    }
    .tl{
        top: 18px;
        left: 18px;
    }
    .tr{
        top: 18px;
        right: 18px;
    }
    .bl{
        bottom: 18px;
        left: 18px;
    }
    .br{
        bottom: 18px;
        right: 18px;
    }
    .announcement{
        padding: 45px 0 0px 0;
        font-size: 16pt;
        text-align: center;
    }
    .additional-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding-bottom: 20px;
    }
    .add-service{
        width: 250px;
    }
    .add-service2{
        padding: 25px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        text-align: left;
    }
    .title{
        padding: 5px;
        padding-left: 12px;
        flex-basis: 100%;
    }
    .price{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 150px;
    }
    .desc{
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 35px;
        padding-inline: 25px;
    }

    @media only screen and (max-width: 600px){
        .container{
            padding: 25px 0;
        }
        .p-info{
            font-size: 14pt;
        }
    }
    
    @keyframes card-animation-in {
        0%   {
            /* transform: rotate3d(0, 0, 0, 0); */
            scale: 1;
        }
        35%{
            scale: 1;
        }
        40%  {
            transform: rotate3d(-17, -11, -2, -3deg);
        }
        70%{
            scale: 1.048;
        }
        100%   {
            /* transform: rotate3d(0, 0, 0, 0); */
            scale: 1.048;
        }
    }
    @keyframes card-animation-out {
        0%   {
            /* transform: rotate3d(0, 0, 0, 0); */
            scale: 1.048;
        }
        30%{
            transform: rotate3d(-50, -11, -2,-2deg);
            scale: 1.048;
        }
        50%  {
            transform: rotate3d(-17, -11, -2, -3deg);
        }
        90%{
            scale: 1;
        }
        100% {
            /* transform: rotate3d(0, 0, 0, 0); */
            scale: 1;
        }
    }
</style>