---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import Pricing from '../components/pricing.astro';
import AboutUs from '../components/aboutUs.astro';
import Announcement from '../components/announcement.astro';
import Insta from '../components/insta.astro';
---

<Layout title="North Nautica Detailing">
	<main>
		<HeroSection></HeroSection>
		<Insta></Insta>
		<Pricing></Pricing>
		<AboutUs></AboutUs>
	</main>
</Layout>

<style>
	main {
	}
</style>
